<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/Assets/Styles.css">
    <link rel="icon" href="/Assets/API.png">
    <!-- Embed -->
    <meta name="description" content="Parham API"/>
    <meta name="keywords" content="api, parham, developers"/>
    <meta name="author" content="Parham"/>
    <meta name="theme-color" content="#ff4800"/>
    <meta name="og:image" content="/Assets/API.png"/>
    <!-- Embed -->
    <title>Parham API</title>
    <style>
      * {
        font-family: sans-serif;
        color: white;
        text-align: center;
      }

      html {
        background-color: #131516;
      }

      h1 {
        text-align: center;
        font-weight: 750;
        padding: 0.5em;
      }
      .button {
        background-color: #131516;
        border: none;
        padding: 30px 64px;
        display: inline-block;
        font-size: 30px;
        margin: 4px 2px;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>Parham API</h1>
      <p style="font-size: 150%;">Our API, try it out!</p>
    </header>
    <main>
      <button class="button"><a href="/API/Password-Generator?characters=20">Password Generator</a></button></main>
    <footer>Parham API</footer>
  </body>
</html>