<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/Assets/Styles.css">
    <link rel="icon" href="/Assets/API.png">
    <title>Parham API</title>
    <style>
      * {
        font-family: sans-serif;
        color: white;
        text-align: center;
      }

      html {
        background-color: #131516;
      }

      h1 {
        text-align: center;
        font-weight: 750;
        padding: 0.5em;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>Parham API</h1>
    </header>
    <main><h2><a href="/API">Check our API</a></h2></main>
    <footer>Parham API</footer>
  </body>
</html>