<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/Assets/Styles.css">
    <link rel="icon" href="/Assets/API.png">
    <!-- Embed -->
    <meta name="description" content="Parham API"/>
    <meta name="keywords" content="api, parham, developers"/>
    <meta name="author" content="Parham"/>
    <meta name="theme-color" content="#ff4800"/>
    <meta name="og:image" content="/Assets/API.png"/>
    <!-- Embed -->
    <title>Parham API</title>
    <style>
      * {
        font-family: sans-serif;
        color: white;
        text-align: center;
      }

      html {
        background-color: #131516;
      }

      h1 {
        text-align: center;
        font-weight: 750;
        padding: 0.5em;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>Parham API</h1>
      <h2>Currently This API Is Beta!</h2>
    </header>
    <main>
      <p>Why Parham API? Because It Is Cool</p>
      <img src="/Assets/Cool.png" title="Only Cool People Uses Parham API" alt="Cool" style="padding: 0.5em;">
      <br>
      <button style="background-color: #131516; font-size: 150%;"><a href="/API">Check our API</a></button>
    </main>
    <footer style="padding: 0.5em;">
      <a href="https://discord.gg/Z3QsJTvwVD"><img src="/Assets/Discord Logo White.png" title="Discord Server" alt="Discord" style="width:42.6; height:48px;"></a>
      <br>
      Parham API
    </footer>
  </body>
</html>