<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Embed -->
    <meta name="description" content="Parham API"/>
    <meta name="keywords" content="api, parham, developers"/>
    <meta name="author" content="Parham"/>
    <meta name="theme-color" content="#ff4800"/>
    <!-- Embed -->
    <title>Parham API</title>
    <style>
      * {
        font-family: sans-serif;
        color: white;
        text-align: center;
      }

      html {
        background-color: #131516;
      }

      h1 {
        text-align: center;
        font-weight: 750;
        padding: 0.5em;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>Parham API</h1>
      <h2>Rate Limited!</h2>
    </header>
    <main></main>
    <footer style="padding: 0.5em;">
      <a href="https://discord.gg/Z3QsJTvwVD" target="_blank">Discord Server</a>
      <br>
      Parham API
    </footer>
  </body>
</html>