<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/Assets/Styles.css">
    <link rel="icon" href="/Assets/API.png">
    <!-- Embed -->
    <meta name="description" content="Parham API"/>
    <meta name="keywords" content="api, parham, developers"/>
    <meta name="author" content="Parham"/>
    <meta name="theme-color" content="#ff4800"/>
    <meta name="og:image" content="/Assets/API.png"/>
    <!-- Embed -->
    <title>Parham API</title>
    <style>
      * {
        font-family: sans-serif;
        color: white;
        text-align: center;
      }

      html {
        background-color: #131516;
      }

      h1 {
        text-align: center;
        font-weight: 750;
        padding: 0.5em;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>Parham API</h1>
      <img src="/Assets/Magnifier.png" alt="Magnifier" style="width:128px; height:128px;">
      <h1 style="padding: 0px;">404</h1>
      <p style="font-size: 150%;">We dropped magnifier glass, can you search for it?</p>
    </header>
    <main><p style="font-size: 150%;">We couldn't found your requested page, check our URL</p></main>
    <footer style="padding: 0.5em;">
      <a href="https://discord.gg/Z3QsJTvwVD"><img src="/Assets/Discord Logo White.png" title="Discord Server" alt="Discord" style="width:42.6; height:48px;"></a>
      <br>
      Parham API
    </footer>
  </body>
</html>